.ultimate_body{
    padding-top: 2.843rem;
    padding-bottom: 4.375rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background: linear-gradient(173.43deg, #2F9CEF 0.46%, rgba(0, 101, 255, 0.6) 99.58%);
}

.ultimate_box{
    padding-left: 2.5rem;
    padding-right: 2.125rem;
    padding-top: 1rem;
    padding-bottom: 1.625rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.ultimate_box1{
    padding-left: 4rem;
    padding-right: 2.125rem;
    padding-top: 1rem;
    padding-bottom: 1.625rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.right_arrow{
    position: absolute;
    right: -4rem;
    top: 27rem;
}

.right_arrow1{
    position: absolute;
    right: -4rem;
    top: 92rem;
}

.right_arrow2{
    position: absolute; 
    right: -4rem; 
    top: 157rem;
}

.left_arrow{
    position: absolute; 
    left: -3.5rem;
    top: 60rem;
}

.left_arrow1{
    position: absolute; 
    left: -3.5rem;
    top: 125rem;
}

.left_arrow2{
    position: absolute; 
    left: -3.5rem; 
    top: 190rem;
}

.right_arrow_play{
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
    transition: 3s;
    object-fit: contain;
}

.right_arrow_play.animate {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}


.ultimate_width{
    width: 35rem;
}

.ultimate_width2{
    width: 37rem;
}

.ultimate_width1{
    width: 33rem;
}

.ultimate_title_box{
    width: 55rem;
}

.ultimate_title{
    font-size: 3.2rem;
}

.box_one{
    padding-top: 8.438rem;
}

.box_btn{
    padding-left: 3.844rem;
    padding-right: 3.844rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-radius: 6px;
}

.ultimate_circle{
    background-image: url("/images/ultimate/circle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
}