.understand_body {
    padding-top: 2.813rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 3.5rem;
}

.under_body {
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateY(100%);
    opacity: 0;
}

.default_div {
    transition: opacity 0.5s ease;
}

.understand_img {
    background-size: cover;
    background-position: center;
    height: 370px; 
    width: 100%;
    position: relative;
    overflow: hidden; /* Ensure that children don't overflow */
}

.understand_img:hover .default_div {
    opacity: 0;
}

.understand_img:hover .under_body {
    transform: translateY(0);
    opacity: 1;
}

.desp_body {
    padding-top: 1.813rem;
    padding-right: 2rem;
    padding-bottom: 0.938rem;
}

.understand_title {
    font-size: 2.5rem;
    line-height: 2rem;
}

.understand_circle {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
